
.page{
  box-sizing: border-box;
  margin-top: 15px;
  margin-left: 220px;
  padding-right: 20px;
}

.page .list{
  margin-top: 10px;
}

.page li{
  list-style:none;
  margin-bottom: 10px;
  border-bottom: 1px dashed #eee;
  padding-bottom: 10px;
}

.page li .btns{
  width: 100px;
  float: right;
}