.page{
  width: 680px;
  margin: 0 auto;
}

.list{
  padding-top: 10px;
}

.list li{
  width: 100%;
  height: 160px;
  list-style: none;
  border-bottom: 1px solid #eee;
}

.list li h3{
  float: left;
  width: 100%;
  height: 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.5;
}

.list li .summary{
  height: 70px;
  font-size: 14px;
  line-height: 1.8;
  overflow: hidden;
}

.list li .ptime{
  font-size: 14px;
  line-height: 1.8;
  color: #888;
  margin-top: 15px;
}

.list li img{
  float: right;
  width: 200px;
  height: 100px;
  margin-left: 20px;
}

.list li .tags{
  margin-top: 20px;
}

.list li .tags span{
  font-size: 12px;
  display: inline-block;
  background: #eee;
  padding: 4px;
  border-radius: 5px;
  margin-right: 10px;
}