.main{
  width: 700px;
  margin: 0 auto;
  margin-top: 30px;
}

.main h1{
  text-align: center;
}

.main .info{
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  color: #999;
}

.main .content{
  margin-top: 40px;
  line-height: 2;
}

/* 一些默认样式 */

.main li{
  margin-left: 20px;
}


.main :global(.ql-code-block-container){
  background: #eee;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 5px;
}