

.page .row{
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.page .row label{
  font-size: 14px;
  margin-right: 10px;
}

.page h3{
  font-size: 16px;
  margin-bottom: 10px;
}

.editor{
  width: 100%;
  float: left;
  margin-top: 10px;
  margin-bottom: 15px;
}

.editor :global(.ql-syntax) {
    background-color: #f6f8fa;
    border-radius: 6px;
    padding: 16px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 14px;
    line-height: 1.45;
    overflow-x: auto;
    color: #24292e;
}

.editor :global(.ql-container) {
    font-size: 16px;
}

.editor :global(.ql-editor pre.ql-syntax) {
    background-color: #f6f8fa;
    color: #24292e;
    overflow: visible;
    margin: 1em 0;
}
