.page{
  box-sizing: border-box;
  margin-top: 15px;
  margin-left: 220px;
  padding-right: 20px;
}

.page h3{
  font-size: 16px;
  margin-bottom: 10px;
}

.page .input{
  margin-bottom: 10px;
  width: 120px;
  margin-right: 10px;
}